<div class="lecture-item">
    <h2 class="lecture-item__title">{{name}}</h2>
        <ul class="lecture-item__prop">
            <li>Дата: {{date}}</li>
            <li class="lecture-item__prop-item">Скачать: 
            {{#if download_video }}
                <a class="lectures-list-item__video-link" href="{{download_video}}" title="Скачать видео"><i class="icon-video"></i></a></li>
            {{/if}}
            {{#if download_pdf }}
                <li class="lecture-item__prop-item"><a class="lectures-list-item__pdf-link" href="{{download_pdf}}" title="Скачать презинтацию"><i class="icon-doc-text"></i></a></li>
            {{/if}}
            </li>
        </ul>
        <div class="lecture-item__about">{{about}}</div>
        {{#if video_url}}
        <iframe class="lecture-item__video" src="{{video_url}}" frameborder="0"></iframe>
        {{/if}}
</div>
<div class="clear"></div>
