<div class="lectures-list">
        {{#each .}}
        <div class="lectures-list__item">
            <div class="lectures-list-item__desc">
                <a class="lectures-list-item__title" href="#!/lectures/{{this.id}}">{{this.title}}</a>
                <span class="lectures-list-item__author"><i class="icon-user"></i>{{this.lecturer}}</span>
                {{#if this.video_link }}
                    <a class="lectures-list-item__video-link" href="{{video_link}}" title="Скачать видео"><i class="icon-video"></i></a>
                {{/if}}
                {{#if this.pdf_link }}
                    <a class="lectures-list-item__pdf-link" href="{{pdf_link}}" title="Скачать презинтацию"><i class="icon-doc-text"></i></a>
                {{/if}}
                <span class="lectures-list-item__date">{{this.date}}</span>
            </div>
            <div class="lectures-list-item__about">{{this.about}}</div>
        </div>
        {{/each}}
    </div>
<div class="clear"></div>