<div class="lecture-item">
    <h2 class="lecture-item__title">{{title}}</h2>
        <ul class="lecture-item__prop">
            <li>Дата: {{dateString}}</li>
            <li>Лектор: {{lecturer}}</li>
        </ul>
        <div class="lecture-item__about">{{about}}</div>
        {{#if video}}
        <iframe class="lecture-item__video" src="{{video}}" frameborder="0"></iframe>
        {{/if}}
        {{#if slides}}
        <iframe class="lecture-item__slides" src="{{slides}}" frameborder="0"></iframe>
        {{/if}}
</div>
<div class="clear"></div>
