<div class="students-list">
    {{#each .}}
    <a href="#!/student/{{this.id}}"><div class="students-list__item">
        <img class="students-list__item-photo" src="{{this.userpic}}" alt="{{this.firstName}} {{this.lastName}}">
        <span class="students-list__item-name">{{this.firstName}} {{this.lastName}}</span>
    </div></a>
    {{/each}}
</div>
<div class="clear"></div>