<div class="student-profile">
    <div class="student-profile__main">
        <img class="student-profile__photo" src="{{photo}}" alt="{{name}}">
        <ul class="student-profile__desc">
            <li class="student-profile__name">{{name}}</li>
            <li class="student-profile__birthday">{{birthday}}</li>
            <li class="student-profile__city">{{city}}</li>
        </ul>
        <ul class="student-profile__social">
        {{#each social}}
            <li class="student-profile__social-item">
                <i class="icon-{{@key}}"></i>
                <a href="#" target="blank">{{this}}</a>
            </li>
        {{/each}}
        </ul>
    </div>
    <div class="student-profile__about">
    {{about}}
    </div>
</div>
<div class="clear"></div>