<div class="student-profile">
    <div class="student-profile__main">
        <img class="student-profile__photo" src="{{userpic}}" alt="{{firstName}} {{lastName}}">
        <ul class="student-profile__desc">
            <li class="student-profile__name">{{firstName}} {{lastName}}</li>
            <li class="student-profile__city">{{city}}</li>
            <li class="student-profile__social">
            {{#each links}}
                <a href="{{this}}" target="blank"><i class="icon-{{@key}}"></i></a>
            {{/each}}
            </li>
        </ul>
    </div>
    <div class="student-profile__about">
    {{about}}
    </div>
</div>
<div class="clear"></div>